install.packages("stringr")
install.packages("dplyr")
install.packages("cbsodataR")
install.packages("git2r")
install.packages("shiny")
install.packages("plotly")
install.packages("ggplot2")
install.packages("RSQLite")
install.packages("gridExtra")