install.packages("dplyr")
install.packages("cbsodataR")
install.packages("git2r")
install.packages("ggplot2")
install.packages("RSQLite")
install.packages("gridExtra")
install.packages("stringr")
install.packages("testthat")
install.packages("devtools")